form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block; 
  padding-top: 8px;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#diary_entry {
  width: 500px; 
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: top;
}

#milestone_images, #timeline_cover {
  padding: 10px;
}

.new-milestone-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 70%;
  overflow-y: scroll;
  border-radius: 12px;
  padding: 10px;
}

.close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
}