.milestone-view-modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 70%;
  overflow-y: scroll;
  border-radius: 12px;
  padding: 10px;
}

.fa-arrow-left {
  position: absolute;
  color: #939597;
  top: 10px;
  left: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 22px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.card-body {
  flex: 1;
}

.diary-entry {
  margin-top: 20px;
}

.diary-entry p {
  text-align: left; /* Ensure text is left-aligned */
}

.diary-entry h5, .photos h5 {
  text-align: left;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  width: 99%;
  height: 10%; 
}

.photos img {
  width: 49%;
  height: 250px;
  padding-bottom: 10px;
  border-radius: 8px;
  object-fit: cover; 
}
