.milestone-edit-modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 70%;
  overflow-y: scroll;
  border-radius: 12px;
  padding: 10px;
}

.fa-arrow-left {
  position: absolute;
  color: #939597;
  top: 10px;
  left: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 22px;
}

.close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.editmilestone-text-container {
  display: flex;
  gap: 10px;
  text-align:left;
}

.editmilestone-date {
  width: 195px;
}

.editmilestone-photos-label {
  font-weight: bold;
}

.editmilestone-photos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 540px;
}

.no-display-file-input {
  display: none;
}

.editmilestone-save {
  text-align: right;
  margin: 20px;
}

