.full-search-container {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 20px 20px;
}

.date-search-container {
  display: flex;
  gap: 10px;
}

.radio-container {
  display: flex;
  gap: 10px;
}

.radio-container label {
  margin-right: 30px;
}

.search-input-container {
  margin-top: 20px;
  text-align: left;
}

.date-input {
  margin-right: 10px;
  color: #939597;
}

.magnifying-glass-container {
  display: flex;
  align-items: center;
}

.fa-magnifying-glass {
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: #7a6e26;
  }
}

.search-bar {
  background-color: #F0F2F5;
  height: 40px;
}