.timeline-edit-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 100%;
  width: 75%;
  overflow-y: scroll;
  border-radius: 12px;
}